{% extends "base.html" %}
{% block content %}
<div class="container">
    <p class="fs-3">
        Уведомления
    </p>
    {% for notification in notifications_list %}
    <div class="container border rounded p-3 my-2 d-flex align-items-center justify-content-between">
        {{ notification.data }}
        {% if notification.type == "friendrequest" %}
        <div class="align-self-end p-0">
            <a class="btn btn-outline-secondary m-0" href="#">Добавить</a>
            <a class="btn btn-outline-secondary m-0" href="#">Отклонить</a>
        </div>
        {% elif notification.type == "system" %}
        <a href="/notification-read/{{ notification.id }}" class="btn btn-outline-secondary">
            Прочитано
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock content %}