body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #ffffff;
}

.login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.login-button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 25px;
    background-color: #0099e5;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #007acc;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #0099e5;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.register {
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #0099e5;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

.form-header {
    text-align: center; /* Центрирование заголовка */
    font-size: 24px; /* Размер текста */
    margin-bottom: 20px; /* Отступ снизу */
    color: #ffffff;
}
