/* profile.css */

/* Общие настройки для body */
body {
    font-family: Arial, sans-serif;
    background-color: #191A1F; /* Светлый фон */
    color: white; /* Темный текст */
    margin: 0;
    padding-top: 20px;
}


/* Стили для разделительных линий */
.divider-1 {
    height: 1px; /* Высота линии */
    background-color: #e9ecef71; /* Светло-серый цвет линии */
    margin: 50px 0 130px; /* Отступы сверху и снизу */
}

.divider-2 {
    height: 1px; /* Высота линии */
    background-color: #e9ecef71; /* Светло-серый цвет линии */
    margin: 20px 0 15px; /* Отступы сверху и снизу */
}

/* Стили для иконки профиля */
.profile-icon {
    display: flex;
    justify-content: center;
}

/* Стили для имени пользователя */
.username {
    text-align: center; /* Центрирование текста */
    font-size: 60px; /* Размер шрифта */
    margin: 10px 0; /* Отступы */
}

/* Стили для информационного блока */
.info-box {
    background-color: #191A1F; /* Светло-серый фон */
    border: 1px solid #e9ecef71;
    border-radius: 10px;
    padding: 15px; /* Внутренние отступы */
}

/* Стили для поля "О себе" */
.about-box {
    margin-top: 20px; /* Отступ сверху */
    background-color: #191A1F; /* Светло-серый фон */
    border: 1px solid #e9ecef71;
    border-radius: 10px;
    padding: 15px; /* Внутренние отступы */
}

/* Заголовок "О себе" */
.about-title {
    font-size: 1.2em; /* Размер шрифта заголовка */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для текста в поле "О себе" */
.about-box {
    width: 100%;
    height: 250px;
}   

.text-infobox {
    font-size: 30px;
}

.form-control {
    background-color: #191A1F; /* Темный фон для поля ввода */
    color: white; /* Цвет текста в поле ввода */
}

.form-control::placeholder {
    color: white; /* Цвет текста в placeholder */
    opacity: 0.5; /* Можно настроить непрозрачность для лучшего вида */
}

.form-control:focus {
    background-color: #191A1F; /* Оставляем темный фон при фокусе */
    color: white; /* Цвет текста при фокусе */
}

.form-control:focus::placeholder {
    color: white; /* Цвет placeholder при фокусе */
    opacity: 0.5; /* Можно настроить непрозрачность для лучшего вида */
}

.nav-link {
    color: #ffffff !important;
    /* Принудительное применение белого цвета */
    font-size: 30px !important;
    /* Принудительное применение размера шрифта */
    font-family: 'Inter', sans-serif !important;
    /* Принудительное применение шрифта */
}

.nav-link-underline-1 {
    position: relative;
    color: #ffffff;
    font-size: 22px;
    text-decoration: none; /* Убираем стандартное подчеркивание */
}

.nav-link-underline-1::after {
    content: "";
    display: block;
    width: 200px; /* Длина подчеркивания, можете изменить при необходимости */
    height: 3px; /* Толщина подчеркивания */
    background-color: #1acaff; /* Цвет подчеркивания */
    position: absolute;
    bottom: -5px; /* Расстояние от текста до подчеркивания */
    left: 0;
}


.nav-link.active {
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    /* Жирный шрифт для активной ссылки */
}

.nav-head {
    position: relative;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 20px; /* Отступ для пространства подчеркивания */
    text-decoration: none;
}

.logout-link {
    position: absolute;
    top: 20px;
    width: 250px;
    height: 50px; /* Расстояние сверху от информационного поля */
    right: 0; /* Выравнивание по правому краю */
    color: white; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 22px; /* Размер текста */
}

.logout-link:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Обертка для размещения ссылки и информационного блока вместе */
.container {
    position: relative; /* Для позиционирования элемента внутри */
}
