<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="icon" type="image/png" href="../static/img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../static/img/favicon.svg" />
    <link rel="shortcut icon" href="../static/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png" />
    <link rel="manifest" href="../static/img/site.webmanifest" />
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <div class="container text-center d-grid align-items-center">
        <p class="my-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor"
                class="bi bi-emoji-smile-upside-down" viewBox="0 0 16 16">
                <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1m0-1a8 8 0 1 1 0 16A8 8 0 0 1 8 0" />
                <path
                    d="M4.285 6.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 4.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 3.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 9.5C7 8.672 6.552 8 6 8s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5m4 0c0-.828-.448-1.5-1-1.5s-1 .672-1 1.5.448 1.5 1 1.5 1-.672 1-1.5" />
            </svg>
        </p>
        <h1 class="fs-1 fw-bold my-4">ERROR 404</h1>
        <p class="my-4">Страница не найдена :(</p>
        <p class="my-4">Попробуйте перейти на <a class="link-body-emphasis" href="/">главную</a></p>
    </div>
</body>

</html>