{% extends "base.html" %}
{% block content %}
<div class="container">
    <p class="fs-3 text-center mt-4 mb-3 fw-bold">Проверка скорости чтения</p>
    <p class="fs-3 my-3 fw-semibold">Карловы Вары</p>
    <p class="fs-3 fw-bold my-3" id="stopwatch">Время: 00:00</p>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <p style="text-indent: 35px;" class="fs-4 p-5 shadow-sm border border-2 rounded">
                О возникновении города Карловы Вары, как и о многом другом в Чехии, существует легенда. Император Священной Римской империи Карл IV очень любил охоту, и вот однажды он охотился в поросших лесом горах. В разгар охоты, когда собаки преследовали белую лань, одна из собак взвыла от боли. Охотник, услышавший вой собаки, бросился к ней, решив, что собака ранена, и был очень удивлён, когда нашел её. Оказалось, она упала в небольшой водоём с очень горячей водой.
                Король Карл, узнав о случившемся, отправился на место, где всё произошло, и обнаружил настоящий шедевр, созданный природой, — горячий источник, бьющий прямо из-под земли. Личный врач короля предположил, что горячая вода, бьющая из источника, может быть эффективным средством при лечении недугов и даже исцелять тяжёлые болезни. Согласно легенде, короля Карла IV долгое время беспокоила боль в ноге и, опустив в воду ноги, он почувствовал облегчение и был исцелён.
                После своего исцеления благодаря чудотворной воде Карл IV повелел выстроить в этом прекрасном месте новый город. Точная дата основания города неизвестна, но появление первых населённых пунктов в окрестностях гейзера датируется серединой XIV века. А название, которое получил город, стало напоминанием о его «первооткрывателе» — Карловы Вары.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <div class="container d-grid ">
                <a id="start" onclick="startStopwatch()" class="btn btn-secondary shadow-lg my-2">Начать тест</a><br>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}