{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Верхняя разделительная линия -->
    

    <!-- Иконка профиля и никнейм -->
    <div class="profile-icon username">
        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="#6c757d" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
    </div>
    <div class="username">
        {{ name }}
    </div>
</div>



    <!-- Нижняя разделительная линия -->
    <div class="divider-2"></div>

<div class="container">
    <!-- Информация о профиле -->
    <div class="info-box">
        <div class="text-infobox">
            id: {{ id }}
            Почта: {{ email }}
        </div>
        <a class="link-danger link-offset-2 link-underline-opacity-0" href="/logout">Выйти</a>
    </div>

    <!-- Поле "О себе" -->

    <textarea class="about-box form-control form-control-dark text-bg-black"
        placeholder="Введите информацию о себе..."></textarea>
    <!-- Это место для текста пользователя -->
</div>

{% endblock content %}