{% extends "base.html" %}
{% block content %}
<div class="book-container container fs-4">
  {% if author %}
  <p class="text-center fs-1 fw-semibold my-4">{{ author }}</p>
  {% endif %}
  {% if book %}
  <p class="text-center fs-2 fw-semibold my-4">{{ book.title }}</p>
  {% endif %}
  {% if sum_text %}
  <p class="text-center fs-2 fw-semibold my-4">{{ sum_text }}</p>
  {% endif %}
  {% for page in text_of_book %}
  {% if page[0] == len_of_list_of_pages %}
  {{ page[1] }}
  <a href="/mark-book-as-read">
    Книга прочитана
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check"
      viewBox="0 0 16 16">
      <path
        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
    </svg>
  </a>
  {% else %}
  {{ page[1] }}
  {% endif %}
  <hr>
  {% endfor %}
</div>
{% endblock content %}